* {
  scroll-behavior: smooth !important;
}

:root {
  /* Dark Mode */
  --dark-main-color: #000000;
  --dark-secondary-color: #121212;
  --dark-accent-color: #252525;
  --dark-main-text-color: #ffff;
  --dark-secondary-text-color: rgba(255, 255, 255, 0.7);
}

body {
  background-color: rgba(0, 0, 0, 0.01) !important;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* * Navbar */
nav {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8393732492997199) 0%,
    rgba(22, 22, 152, 0.6881127450980392) 35%,
    rgba(45, 133, 222, 0.9458158263305322) 100%
  );
}

.nav-link {
  font-weight: 400 !important;
  color: white !important;
}

.navBtn {
  border-radius: 12px !important;
}
.navBtn:hover {
  cursor: pointer;
}

/* * Section One - Intro Section */
.section-one-intro {
  height: 93vh;
  background: url(./img/overlay-bg.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.selfProtrait {
  border-radius: 50% !important;
  width: 200px;
}

.section-one-card {
  border-radius: 20px !important;
  border: 0.1px solid rgba(0, 0, 0, 0.05) !important;
  position: relative;
  box-shadow: 0 25px 50px rgba (0, 0, 0, 0.2) !important;
  background: transparent !important;
  backdrop-filter: blur(35px) !important;
  -webkit-backdrop-filter: blur(35px) !important;
}

.arrowDownIcon {
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(#2980b9, #6dd5fa, #ffffff) !important;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
}

@media (min-width: 768px) {
  .introRow {
    padding-top: 20%;
  }
  .profileImageCol {
    float: end !important;
  }

  .bottommotion {
    margin-top: 15%;
  }
}

/* * Section Two - My Work */
.section-two-my-work {
  background-color: var(--dark-main-color);
}

.accordion {
  background: var(--dark-secondary-color);
  border-radius: 12px;
  color: var(--dark-main-text-color);
}

.accordion-header,
.accordion-button {
  color: var(--dark-main-text-color);
}

.accordion-body {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  border-radius: 12px;
}

.fscalcImage {
  border-radius: 8px;
}

/* * Section Three - Skills */
.section-three-skills {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.experienceInfo {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}

.skillsCard {
  border-radius: 20px !important;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 12px 0px rgba(0, 0, 0, 0.2);
}

/* * Section Four - Education */

.section-four-education {
  background: url(./img/y-so-serious.png);
}

.educationCard {
  border-radius: 18px;
  /* background-color: var(--dark-accent-color); */
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 75%);
}

.coursesAccordian {
  background-color: #485461;
}

.educationAccordionBody {
  background: var(--dark-accent-color) !important;
}

.fa-angle-double-right {
  font-size: 15px !important;
  /* color: rgba(119, 0, 255, 0.568) !important; */
  color: var(--dark-secondary-text-color);
}

/* * Section Five - Hire Me */

.section-five {
  background: var(--dark-main-color);
}

.contactCard {
  border-radius: 18px;
  background-color: var(--dark-secondary-color);
}

.form-control,
.form-control:active,
.form-control:focus {
  background: var(--dark-accent-color) !important;
  outline: none !important;
  border: none !important;
  color: var(--dark-secondary-text-color) !important;
}

input::placeholder,
input:focus::placeholder,
textarea::placeholder {
  background: var(--dark-accent-color);
  opacity: 1;
  color: var(--dark-secondary-text-color) !important;
}
